@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap"); */

.font-tangerine {
  font-family: "Tangerine", cursive;
}

    /* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); */
    .font-raleway {
        font-family: 'Raleway', sans-serif;
    
    } 

    @media screen and (min-width: 769px) and (max-width: 850px) {
      .logo {
        width: 200px !important;
        height: 225px !important;
      }
    }
    @media screen and (min-width: 851px) and (max-width: 1150px) {
      .logo {
        width: 200px !important;
        height: 225px !important;
      }
    }

    /* lfdqfdsq */
