@tailwind base;
@tailwind components;
@tailwind utilities;

/*font family du projet*/

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-carattere {
  font-family: 'Carattere', cursive;
}

/*CSS ACCEUIL*/
@keyframes display-phrases {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.phrase {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  color: #ffffff;
  margin-top: -50px; /* ajuster la valeur pour la position souhaitée */
}

.item-to-move {
  margin-top: -20px;
}

.phrase:nth-child(1) {
  top: 40%;
  animation: display-phrases 8s linear forwards 1s;
}

.phrase:nth-child(2) {
  top: 50%;
  animation: display-phrases 8s linear forwards 4s;
}

.phrase:nth-child(3) {
  top: 60%;
  animation: display-phrases 8s linear forwards 6s;
  animation-fill-mode: forwards;
}

.phrase:nth-child(4) {
  top: 80%;
  animation: display-phrases 5s linear forwards 4s;
  animation-fill-mode: forwards;
}

.signature {
  opacity: 0;
  display: inline-block;
  position: relative;
  animation: write-signature 3s forwards;
  animation-delay: 10s;
  color: #ffffff;
  margin-top: 5%;
  margin-left: 70%;
}



@keyframes write-signature {
  0% {
    opacity: 0;
    transform: translateX(-50%) scaleX(0);
  }
  25% {
    opacity: 1;
    transform: translateX(-50%) scaleX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
  }
  75% {
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
  }
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .phrase {
    font-size: 1.7rem;
    line-height: 0.75;
    margin-top: 2px;
  }
  .signature {
    font-size: 1.8rem;
    margin-left: 60%;
  }
  .phrase:nth-child(1) {
    top: 30%;
    animation: display-phrases 8s linear forwards 1s;
  }
  .phrase:nth-child(2) {
    top: 40%;
    animation: display-phrases 8s linear forwards 1s;
  }
  .phrase:nth-child(3) {
    top: 50%;
    animation: display-phrases 8s linear forwards 1s;
  }
  .phrase:nth-child(4) {
    top: 80%;
    animation: display-phrases 8s linear forwards 1s;
  }
  .signature {
    opacity: 0;
    display: inline-block;
    position: relative;
    animation: write-signature 3s forwards;
    animation-delay: 2s;
    color: #ffffff;
    margin-top: 14%;
    margin-left: 70%;
  }
}
@media screen and (max-width: 768px) and (orientation : landscape) {
  .phrase {
    font-size: 1.4rem;
    line-height: 0.75;
    margin-top: 2px;
  }
  .signature {
    font-size: 1.6rem;
    margin-left: 60%;
  }
  .phrase:nth-child(1) {
    top: 35%;
    animation: display-phrases 8s linear forwards 1s;
  }
  .phrase:nth-child(2) {
    top: 45%;
    animation: display-phrases 8s linear forwards 1s;
  }
  .phrase:nth-child(3) {
    top: 55%;
    animation: display-phrases 8s linear forwards 1s;
  }
  .phrase:nth-child(4) {
    top: 50%;
    animation: display-phrases 8s linear forwards 1s;
  }
  .signature {
    opacity: 0;
    display: inline-block;
    position: relative;
    animation: write-signature 3s forwards;
    animation-delay: 2s;
    color: #ffffff;
    margin-top: 14%;
    margin-left: 70%;
  }
}




/*CSS Menu et plus précisemmment du logo*/
@media screen and (min-width: 769px) and (max-width: 914px) {
  /* .logo {
    width: 130px !important;
    height: 150px !important;
  } */
  .phrase {
    font-size: 34px;
    line-height: 0.8;
    /* margin-top: 0%; */

  }

  
  .signature {
    font-size: 31px;
  }
  .phrase:nth-child(1) {
    margin-top: 1%;
  }
    .phrase:nth-child(2) {
    margin-top: 1%;
  }
    .phrase:nth-child(3) {
    margin-top: 1%;
  }
    .phrase:nth-child(4) {
    margin-top: 1%;
  }
}
@media screen and (min-width: 915px) and (max-width: 1199px) {
  /* .logo {
    width: 150px !important;
    height: 160px !important;
  } */
  .phrase {
    font-size: 25px;
    line-height: 0.8;
    /* margin-top: 0%; */

  }

  .signature {
    font-size: 28px;
  }
  .phrase:nth-child(1) {
  margin-top: 1%;
}
  .phrase:nth-child(2) {
  margin-top: 1%;
}
  .phrase:nth-child(3) {
  margin-top: 1%;
}
  .phrase:nth-child(4) {
  margin-top: 1%;
}
}

@media screen and (min-width: 1200px) {
  .phrase {
    font-size: 35px;
    line-height: 0.95;
  }
  .signature{
    font-size: 38px;
  }
}





.md:flex-row {
  justify-content: center; /* centre horizontalement sur tailles écran plus larges */
}

/* Optionnel : ajouter une marge pour espacer les liens */
.md:flex-row > * + * {
  margin-left: 1rem;
}
