@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");



.link {
  opacity: 1;
  animation-name: fadeInDown;
  animation-duration: 1s;
  cursor: pointer;
  display: inline-block;
}

.link:hover {
  color: #6c9470;
}

@media (max-width: 768px) {
  .link {
    display: block;
    margin: 10px 0;
    font-size: 1.5rem;
  }

}

@media (min-width: 769px) {
  .link {
    margin-right: 35px;
    font-size: 1.8rem;
  }
 
  
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
