.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-top: 10%;
}

.circleContainer {
  display: flex;
  position: relative;
  width: 90vw;
  height: 80vh;
  background-color: transparent;
  overflow: hidden;
  margin-top: -15%;
  z-index: 20;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 22%;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  transition-duration: 1s;
  font-family: roboto;
  z-index: 20;
  color: #333333;
}

.circle:nth-child(1) {
  left: 35%;
  top: 5%;
}

.circle:nth-child(2) {
  top: 14%;
  left: 65%;
}

.circle:nth-child(3) {
  top: 38%;
  left: 72%;
}

.circle:nth-child(4) {
  top: 68%;
  left: 63%;
}

.circle:nth-child(5) {
  top: 74%;
  left: 35%;
}

.circle:nth-child(6) {
  top: 68%;
  left: 7%;
}

.circle:nth-child(7) {
  top: 14%;
  left: 5%;
}

.circle:nth-child(8) {
  top: 38%;
  left: -2%;
}

.circle:hover {
  transform: scale(1.4);
  cursor: default;
  
}

.title {
  position: absolute;
  transition-duration: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-wrap: wrap;
  color: #ffffff;
  z-index: 20;
  font-style: italic;
  margin-top: 5%;
  margin-left: 8%;
  font-size: 1.5rem;
  font-family: roboto;
  
  
}

/* Media Queries for responsive design */

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -5%;
    
  }

  .circleContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5;
  }
  .circle {
    width: 102vw;
    height: 12%;
  }

  .item {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.4rem;
 
    text-align: center;
    left: -14%;
    top: -27%;
   
  }

  .circle:hover {
    transform: none;
    cursor: none;
  }
  .circle:nth-child(1) {
    top: 10%;
    left: -10%;
  }

  .circle:nth-child(2) {
    top: 20%;
    left: -10%;
  }

  .circle:nth-child(3) {
    top: 30%;
    left: -10%;
  }

  .circle:nth-child(4) {
    top: 40%;
    left: -10%;
  }

  .circle:nth-child(5) {
    top: 50%;
    left: -10%;
  }

  .circle:nth-child(6) {
    top: 60%;
    left: -10%;
  }

  .circle:nth-child(7) {
    top: 70%;
    left: -10%;
  }

  .circle:nth-child(8) {
    top: 80%;
    left: -10%;
  }
}

@media screen and (max-width: 1200px) {
  .circle {
    font-size: 1rem;
    margin-top: 5%;
  }
  .container {
    margin-top: 4%;
  }
}
@media screen and (max-width: 1200px) and (orientation : landscape) {
  .circle {
    font-size: 0.9rem;
    margin-top: 5%;
  }
  .container {
    margin-top: 8%;
  }
}

